
a {
	color: #4d4d4d;
}

a:hover {
	color:#77b201;
}

.btn-link:hover {
  color: #77b201;
}

.color {
	background: #4d4d4d;
	color:#fff;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #4d4d4d;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

}

/* header */


header .navbar .navbar-inner li.active {
	border-top: 5px solid #fff;
	background: #4d4d4d;
	margin-top:-5px;
}

header .navbar .navbar-inner nav li.blob  {
	border-top: 5px solid #4d4d4d;
	margin-top:-5px;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  background: #4d4d4d;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  background-color: #4d4d4d;
}

.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  background-color: #4d4d4d;
}

/* breadcrumb */
.breadcrumb {
	border-left:5px solid #4d4d4d;
}


/* accordion */
.accordion-group {
  border: 1px solid #4d4d4d;
}
.accordion-inner {
  border-top: 1px solid #4d4d4d;
}
.accordion-heading {
  background-color: #4d4d4d;
}

/* flexslider */
.flex-direction-nav li a:hover {
	background:#4d4d4d;
	
}

/* carousel */
.carousel-control {
  background: #4d4d4d;
}


/* eislide */
.es-nav .es-nav-prev{
    right: 17px;
    background:#4d4d4d url(../img/icons/arrow-left.png) no-repeat right top;
}
.es-nav .es-nav-next{background: #4d4d4d url(../img/icons/arrow-right.png) no-repeat left top;}

/* button */
.btn-link {
	color: #4d4d4d;
}

.nav .dropdown-toggle .caret {
  margin-top: 6px;
  border-top-color: #4d4d4d;
  border-bottom-color: #4d4d4d;
}

/* pagination */
.pagination ul > li > a,
.pagination ul > li > span {
  background-color: #4d4d4d;
  border: 1px solid #4d4d4d;
  color:#fff;
  border-left-width: 0;
}


/* tabs */
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  color: #ffffff;
  background-color: #4d4d4d;
}


.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  background-color: #4d4d4d;
  color:#fff;
  border: none;
  border-bottom-color: transparent;
  cursor: default;
}

/* label */
.label-orange,
.badge-orange {
  background-color: #4d4d4d;
}


/* nav */
.nav-list > .active > a,
.nav-list > .active > a:hover {
  background: #4d4d4d;
}


.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  background: #4d4d4d;
}

.nav .dropdown-toggle .caret {
  border-top-color: #4d4d4d;
  border-bottom-color: #4d4d4d;
}

/* custom progress bar according template skin */
.progress-orange .bar,
.progress .bar-orange {
  background: #4d4d4d;
}

.progress-orange.progress-striped .bar,
.progress-striped .bar-orange {
  background: #4d4d4d;
}

/* form */
.contact-form input:focus {
  border-color: #4d4d4d;
}

/* article */
article .headline h4 a {
	color:#4d4d4d;
}

article.last-post {
	background: #4d4d4d;
}

ul.time-post li.year{
	border-bottom:1px solid #4d4d4d;
}

section#subintro {
	background: #4d4d4d;
}


footer.footer {
	background:#4d4d4d;
}

 /* 404 */
 

.error-body{
	background:#4d4d4d;
	padding:20px;
	text-align:center;
}


/* misc */
a.thumbnail:hover {
  border-color: #4d4d4d;
}

ul.filter li.active a:hover, a.zoom:hover, a.link_post:hover, .flex-control-nav li a:hover, .flex-control-nav li a.active{
	background: #4d4d4d;
}

.thumbnail h4 a:hover, .thumbnail .meta  span a:hover, ul.recent li h6 a:hover, ul.post-meta li a:hover, .media-body span, .media-body .media-heading a:hover, form label span, article.last-post h5 a:hover{
	color: #4d4d4d;
	text-decoration:none;
}

/* nivo */
.nivo-directionNav a, .nivo-controlNav a.active, .nivo-controlNav a:hover{
	background-color:#4d4d4d;
}
